.metadata
eclipsebin
gensrc
**/classes/
*testclasses.xml
*.class
platformhome.properties
beans.xsd
extensioninfo.xsd
items.xsd
custom/**/build.xml
config*/solr/embedded/solr.xml
*.iml
*.log
RemoteSystemsTempFiles/
custom/italiantouch/contextualattributevaluesbackoffice/resources/backoffice/contextualattributevaluesbackoffice_bof.jar
custom/italiantouch/italiantouchintegration/.settings/com.springsource.sts.config.flow.prefs
custom/italiantouch/multicountryb2csampledata/web/webroot/cmscockpit/
custom/italiantouch/multicountryb2csampledata/web/webroot/cockpit/
custom/italiantouch/multicountryb2csampledata/web/webroot/cscockpit/
custom/italiantouch/multicountryb2csampledata/web/webroot/productcockpit/
custom/italiantouch/multicountry/web/webroot/cmscockpit/
custom/italiantouch/multicountry/web/webroot/cockpit/
custom/italiantouch/multicountry/web/webroot/cscockpit/
custom/italiantouch/multicountry/web/webroot/productcockpit/
custom/italiantouch/multicountrycommon/hmc/
custom/italiantouch/multicountryhmc/hmc/bin/
custom/italiantouch/multicountryhmc/hmc/resources/hmc.xsd
custom/italiantouch/ingenico/hmc/resources/hmc.xsd

custom/italiantouch/italiantouchstorefront/resources/wro_addons.xml
custom/italiantouch/italiantouchstorefront/web/addonsrc/
custom/italiantouch/italiantouchstorefront/web/commonwebsrc/
custom/italiantouch/italiantouchstorefront/web/webroot/cmscockpit/
custom/italiantouch/italiantouchstorefront/web/webroot/cockpit/
custom/italiantouch/italiantouchstorefront/web/webroot/WEB-INF/_ui-src/addons/
custom/italiantouch/italiantouchstorefront/web/webroot/WEB-INF/messages/addons/
custom/italiantouch/italiantouchstorefront/web/webroot/WEB-INF/tags/addons/
custom/italiantouch/italiantouchstorefront/web/webroot/WEB-INF/tld/addons/
custom/italiantouch/italiantouchstorefront/web/webroot/WEB-INF/views/addons/
custom/italiantouch/italiantouchstorefront/web/webroot/_ui/addons/

config*/solr/**/hsperfdata*
/custom/italiantouch/italiantouchstorefront/web/webroot/_ui/responsive/theme-hogan/node_modules
/custom/italiantouch/italiantouchstorefront/web/webroot/_ui/responsive/theme-hogan/public/builds

config-local/

custom/italiantouch/ingenico/hmc/bin/ingenicohmc.jar

custom/italiantouch/alipay/hmc/resources/hmc.xsd
custom/italiantouch/italiantouchalipay/hmc/bin/alipayhmc.jar
custom/italiantouch/hypsvertex/hmc/bin/hypsvertexhmc.jar
custom/italiantouch/alipay/hmc/bin/
/config/licence/installedSaplicenses.properties
custom/italiantouch/alipay/hmc/bin/

custom/italiantouch/hypsvertex/hmc/resources/hmc.xsd
custom/alipay/hmc/bin/
/custom/alipay/hmc/bin/alipayhmc.jar
